.cardForm {
  width: 95%;
  margin-left: 1em;
  margin-top: 2em;
}
.row {
  width: 100%;
  display: flex;
  flex: 1;
}

.formBtn {
  flex-basis: 50%;
  height: 2.5em;
}

.textArea {
  flex-basis: 100%;
}

.firstRow {
  flex-basis: 33.3%;
  height: 2.5em;
}

.secondRow {
  flex-basis: 100%;
  height: 2.5em;
}
