.card {
  margin: 2em 5em;
  width: 30em;
  background-color: bisque;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImg {
  width: 10em;
  height: 3em;
  justify-content: center;
  align-items: center;
}

.cardInfo {
  padding: 1em;
}

.card p {
  margin: 0;
}

.name {
  font-weight: bold;
  font-size: 1rem;
}

.info {
  font-size: 0.8rem;
}

.line {
  width: 15em;
}
