.login {
  width: 20rem;
  height: 20rem;
  text-align: center;
  background-color: white;
}

.loginSection {
  display: flex;
  flex-direction: column;
}

.loginList {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list {
  margin-bottom: 1rem;
}
.sectionBtn {
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

.sectionBtn:hover {
  background-color: bisque;
}
