.login {
  width: 20rem;
  height: 20rem;
  text-align: center;
}
.header {
  background-color: bisque;
}
.headerName {
  padding: 1rem 0;
  margin: 0;
  font-weight: bold;
}
.footer {
  background-color: bisque;
}
.footerName {
  padding: 1rem 0;
  margin: 0;
  font-weight: bold;
  font-size: 0.5rem;
}
.loginSection {
  display: flex;
  flex-direction: column;
}
.sectionName {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.3em;
}
.sectionBtn {
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}
